{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{post.title}} </h1>

    <div>
        <h1>Tytuł:{{ post.title }} </h2>
        <p>{{ post.lead }}</p>
        <p>{{ post.content }}</p>
        <span class="">Dodano {{post.createdAt | date('Y-m-d')}}</span>
        <hr>
        <h3>komentarze</h3>
        
        {{form_start(form)}}
            {{form_widget(form)}}
        {{form_end(form)}}
  
    </div>    

    {# display navigation #}

    
{% endblock %}

