{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{post.title}} </h1>

    <div>
        <h1>Tytuł:{{ post.title }} </h2>
        <p>{{ post.lead }}</p>
        <p>{{ post.content }}</p>
        <hr>
        <h3>komentarze</h3>
  
    </div>    

    {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(posts) }}
</div>
    
{% endblock %}

